<!-- Aqui aprenderemos a utilizar la vinculacion de un componente padre con su hijo a traves del decorador @Input() -->
<div [class.modo-oscuro]="modoOscuro">
  <app-toolbar (enviarOrdenParaCambiarFondo)="recibirOrdenParaCambiarElFondo($event)"
  [cantidadParaElCarrito]="cantidadSeleccionada"
  ></app-toolbar>
  <app-product-list
   (recibirProductoParaQueMiPadreLoSume)="recibirProducto($event)"
   (recibirProductoParaQueMiPadreLoReste)="eliminarProductos($event)"
   ></app-product-list>
</div>
